.section-about {
    padding-top: 5rem;
    padding-bottom: 20rem; 
    background-color: #fff;
 
    &__features {
        display: flex;
        padding: 4rem 0;

        @media(max-width: 900px) {
            flex-direction: column;
        }
    }

    &__text {
        font-weight: 700;
        text-align: center;
        font-size: 3.5rem;
        text-transform: uppercase;
    }

    // @include triangularSliceBottom;
}

.section-quotations {
    background-image: 
        var(--darken-backcolor),
        url(../img/man-in-suit.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    height: 55rem;
    margin-top: -14rem;
    position: relative;
    z-index: -1;

    @media(max-width: 900px) {
        margin-top: -23rem;
        height: 75rem;
    }

    & > * {
        transform: translate(-50%, -15%);
    }

}

.section-clients {
    padding: 5rem 0 10rem 0;
    background-color: var(--background-primary-color-dark);

    &__features {
        display: flex;

        @media(max-width: 800px) {
            flex-direction: column;
        }
    }

    @include triangularSliceBottom;
}

.section-profit {
    // padding: 12.5rem 0 5rem 0;
    margin-top: -10rem;
    background-image: 
    // var(--darken-backcolor-1),
    url(../img/fot1a.JPG);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 

    @media(max-width: 600px) {
        background-size: cover;
        background-repeat: no-repeat;
        // background-position: center;
        // background-attachment: fixed;
    }
 

    .section-overlay-mask1 {
        flex-direction: column;
        display: flex; 
        justify-content: center; 
        // align-items: center; 
        height: 100%;
        // top: 20; 
        // bottom: 0; 
        width: 100%; 
        // height: 430px; 
        background-color: rgb(32, 30, 30); 
        opacity: 0.70;
      }

    @media(max-width: 800px) {
        // padding-top: 15rem;
        margin-top: -18rem;
    }

    &__heading {
        // font-style: italic; 
        margin-top: 35px;
        margin-left: 10px;
        margin-right: 10px;
    }

    &__box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        margin-left: 15px;

        @media(max-width: 400px) {
            flex-direction: column;
        }
    }

    &__item {
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        padding: 1rem;
        backface-visibility: hidden;
    }

    &__text {
        color: var(--primary-text-color-light-2);
        text-transform: uppercase;
        letter-spacing: .2rem;
        font-weight: 100;
        backface-visibility: hidden;

        transition: all .3s ease-out; 
    }

    &__item:hover &__text {
        margin-left: 1.5rem;
    }
}

.section-organisers {
    background-color: #fff;
    padding: 5rem 0 10rem 0;
    // @include triangularSliceBottom;
    z-index: 1;
    position: relative;

    @media(max-width: 600px) {
        padding-bottom: 5rem;
    }



    figure {
        margin: 0;
        padding: 0;
    }
    
    @media (max-width: 756px) {
        .gallery {
            display: block;
        }
    }
    
    @media (min-width: 757px) {
        .gallery {
            display: grid;
        }
    }
    
    .container {
        width: 100%;
        height: 100%;
    }





    
 
    &__heading {
        font-size: 4rem;
        font-weight: 700;
        // font-style: italic;
        text-align: center;
        margin-bottom: 6rem;
    }

    &__box {
        display: flex;
        margin: 10px;
        flex-direction: column;

        //first

        .container {
          max-width: 760px;
          margin: auto;
          // border: #fff solid 3px;
          // background: #fff;
        }


        *, *:before, *:after {
          box-sizing: border-box;
          position: relative;
          transition-property: clip-path, opacity;
          transition-duration: 900ms, 300ms;
          transition-timing-function: cubic-bezier(.5, 0, .5, 1);
        }


        .slider {
          position:relative;
          display: flex;
          // width: 100vw;
          height: 70vh;
          overflow: hidden;
          .status {
            position: absolute;
            bottom: 10px;
            left:10px;
            display:flex;
            .stat {
              width:10px;
              height:10px;
              background-color:transparent;
              border-radius:50%;
              z-index:11;
              margin: 0px 5px;
              border: 2px solid #fff;
            }
            .stat[data-active] {
              background-color:#fff;
            }
          }
          
          img {
            object-fit: cover;
            object-position: center 80%;
            width: 100%;
            height: 100%;
            display: block;
          }
          .image {
            width: 100%;
            margin-right: -100%;
            opacity: 0;
            display: block;
            img {
              clip-path: circle(50px at 5vw 50%);
             }
          }
          .image[data-active] {
            opacity:1;
            img {
              clip-path: circle(100vmax at 50% 50%);
            }
          }
          .image[data-active] ~.image {
            opacity: 0;
            img{
              clip-path: circle(50px at 95vw 50%);
            }
          }
          svg {
           height: 30px;
            position:absolute;
            top:50%;
            margin-top:-15px;
            z-index: 1000;
            cursor: pointer;
            overflow:visible;
            path {
              stroke: #666;
              stroke-linecap:round;
              stroke-width:12px;
              fill:transparent;
            }
            circle {
              fill: #fff9;
            }
            &#next {
              right:5vw;
        
            }
            &#prev {
              left:5vw;
            }
          }
        }
        .dwf {
          position:fixed;
          bottom:4px;
          right:10px;
          background-color:#0003;
          padding:3px;
          border-radius:3px;
        }


//second
        
.container {
  max-width: 760px;
  margin: auto;
  border: #fff solid 3px;
  background: #fff;
}

.main-img img,
.imgs img {
  width: 100%;
  height: 410px;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.imgs img {
  cursor: pointer;
 height: 130px;
}

/* Fade in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn var(--fade-time) ease-in 1 forwards;
}

/* Media Queries */
@media(max-width: 600px) {
  .imgs {
    grid-template-columns: repeat(2, 1fr);
  }
}










//third


        
        
        @-webkit-keyframes infoIn {
          0% {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
          }
          50% {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
          }
          100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }
        
        @keyframes infoIn {
          0% {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
          }
          50% {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
          }
          100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }
        @-webkit-keyframes infoOut {
          0% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
          100% {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
          }
        }
        @keyframes infoOut {
          0% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
          100% {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
          }
        }
        #hero {
          width: 100%;
          display: block;
          overflow: hidden;
          position: relative;
        }
        #hero:before {
          display: block;
          content: "";
          padding-top: 50%;
        }
        .hero {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 100%;
          overflow: hidden;
          margin: 0;
          padding: 0;
          font-family: "Open Sans", sans-serif;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
        .hero figure {
          margin: 0;
          padding: 0;
          width: 10%;
          height: 96%;
          position: relative;
          -ms-flex-preferred-size: 10%;
          flex-basis: 10%;
          -webkit-transition: 0.8s linear;
          -o-transition: 0.8s linear;
          transition: 0.8s linear;
          -webkit-filter: saturate(25%);
          filter: saturate(25%);
        }
        .hero figure:not(.on):hover {
          cursor: pointer;
        }
        .hero figure img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
        }
        .hero figure.on {
          -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
          -webkit-transition: 0.8s linear;
          -o-transition: 0.8s linear;
          transition: 0.8s linear;
          z-index: 20;
          -webkit-filter: saturate(100%);
          filter: saturate(100%);
        }
        .hero figure div {
          -webkit-animation: infoOut;
          animation: infoOut;
        }
        
        .hero figure.on div {
          position: absolute;
          bottom: 20%;
          left: 5%;
          right: 5%;
          padding: 20px 50px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          color: #fff;
          text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
          -webkit-animation: infoIn 1.2s;
          animation: infoIn 1.2s;
        }
        .hero figure.on div h2 {
          font-size: 20px;
          width: 100%;
          // padding-bottom: 20px;
          border-bottom: 1px solid rgb(144, 124, 6);
          margin-bottom: 10px;
        }
        .hero figure.on div p {
          font-size: 1.6rem;
          width: 100%;
          margin-bottom: 0;
        }
        .hero figure.on div a {
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 0.6em;
          font-weight: 600;
          transition: 0.3s ease;
        }
        .hero figure.on div a:after {
          content: "\f054";
          font-family: "FontAwesome";
          margin-left: 5px;
          display: inline-block;
          color: #00ff00;
          transition: 0.3s ease;
        }
        .hero figure.on div a:hover::after {
          transform: translateX(3px);
          transition: 0.3s ease;
        }
        .hero figure.on div a:hover {
          text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9), 0 2px 3px rgba(0, 0, 0, 0.7);
          transition: 0.3s ease;
        }
        @media screen and (max-width: 800px) {
          .hero {
            font-size: 1.3vw;
          }
          .hero figure.on div {
            padding: 5px;
          }
        }
        @media screen and (max-width: 600px) {
          .hero {
            font-size: 1.8vw;
          }
          .hero figure.on div {
            bottom: 5%;
            left: 0;
            right: 0;
            width: auto;
          }
        }
        
//fourth
.hero1 {
  position: relative;
  overflow: hidden;
  height: 70vh;
  margin: auto;
  width: 70vw;
}
.slider1{
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #000;
  margin: 20px;
}
.slider1 .image{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: anime 15s 0s infinite; 
  opacity: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.slider1 .image:nth-of-type(1){
  background-image: url('/img/fot1a.JPG');
}
.slider1 .image:nth-of-type(2){
  animation-delay: 5s;
  background-image: url('/img/fot3a.JPG');
}
.slider1 .image:nth-of-type(3){
  animation-delay: 10s;
  background-image: url('/img/fot5.JPG');
}
@keyframes anime {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.18);
  }
}

//fifth



.slider2 {
  height: 460px;
  // height: auto !important;
  overflow: hidden;
	position: sticky;
  width: 80vw;
  margin: auto;
  
  display: flex;
  justify-content: center;
  align-items: flex-end;

}


/*Last thing remaining is to add transitions*/
.slider2>img{
	position: absolute;
	left: 0;
  top: 0;
  z-index: -1;
	transition: all 0.5s;
  width: 100%;
  height: 100vh;
  // object-fit: cover;
  object-position: center;
  background-size: cover;

  @media(max-width: 400px) {
    position: absolute;
	left: -92px;
  top: 0;
  z-index: -1;
	transition: all 0.5s;
  width: 152vw;
  height: 85vh;
  // object-fit: cover;
  object-position: center;
  background-size: cover;
}


}

.slider2 input[name='slide_switch'] {
	display: none;
}

.slider2 label {
	/*Lets add some spacing for the thumbnails*/
	margin: 0 9px 18px 9px;
	border: 3px solid #999;
	
	float: left;
  min-height: 5rem;
  max-height: 5rem;
  height: auto !important;
  overflow: hidden;
	cursor: pointer;
	transition: all 0.5s;
	
	/*Default style = low opacity*/
	// opacity: 0.6;
}

.slider2 label img{
  width: 8rem;
  height: 100%;
  object-fit: cover;
  object-position: bottom center;
	display: block;
  background-size:cover;
}

/*Time to add the click effects*/
.slider2 input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider2 input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider2 input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}
        

        @media(max-width: 800px) {
            flex-direction: column;
        }
    }

    &__person-info {
        color: var(--secondary-color);
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    &__person-photo {
        margin: 0 auto;
        width: 15rem;
        height: 15rem;
        display: block;
        border-radius: 50%;
        margin-bottom: 3rem;
        overflow: hidden;
        transition: all .3s;
        cursor: pointer;

        &:hover {
            transform: scale(1.04);
            filter: brightness(1.03);
        }
    }


    
}

.section-reserve {
    height: 70rem;
    padding: 5rem 0;
    position: relative;
    margin-top: -12rem;

    background-image: 
    var(--darken-backcolor),
    url(../img/city-view.jpg);
    background-size: cover;
    background-position: center;

    @media(max-width: 900px) {
        margin-top: -15rem;
        height: 100rem;
    }

    @media(max-width: 600px) {
        width: 100%;
    }

    &__box {
        @include centerElement;
        margin-top: 5rem;
        padding: 5rem;
        background-image: var(--darken-backcolor);
        border-radius: 5px;

        @media(max-width: 900px) {
            width: 70rem;
        }

        @media(max-width: 600px) {
            width: 100%;
        }
    }

    &__text-box {
        color: var(--primary-text-color-light);
        margin: 0 auto;
        margin-bottom: 5rem;
        text-align: center;
    }

    &__heading {
        font-size: 4.5rem;
        margin-bottom: 2rem;

        @media(max-width: 600px) {
            font-size: 3rem;
        }
    }

    &__text {
        font-size: 2.5rem;
    }
}