.section-about {
    padding-top: 5rem;
    padding-bottom: 20rem; 
    background-color: #fff;
 
    &__features {
        display: flex;
        padding: 4rem 0;

        @media(max-width: 900px) {
            flex-direction: column;
        }
    }

    &__text {
        font-weight: 700;
        text-align: center;
        font-size: 3.5rem;
        text-transform: uppercase;
    }

    // @include triangularSliceBottom;
}

.section-quotations {
    background-image: 
        var(--darken-backcolor),
        url(../img/man-in-suit.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    height: 55rem;
    margin-top: -14rem;
    position: relative;
    z-index: -1;

    @media(max-width: 900px) {
        margin-top: -23rem;
        height: 75rem;
    }

    & > * {
        transform: translate(-50%, -15%);
    }

}

.section-clients {
    padding: 5rem 0 10rem 0;
    background-color: var(--background-primary-color-dark);

    &__features {
        display: flex;

        @media(max-width: 800px) {
            flex-direction: column;
        }
    }

    @include triangularSliceBottom;
}

.section-profit {
    // padding: 12.5rem 0 5rem 0;
    margin-top: -10rem;
    background-image: 
    // var(--darken-backcolor-1),
    url(../img/fot1a.JPG);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 

    @media(max-width: 600px) {
        background-size: cover;
        background-repeat: no-repeat;
        // background-position: center;
        // background-attachment: fixed;
    }
 

    .section-overlay-mask1 {
        flex-direction: column;
        display: flex; 
        justify-content: center; 
        // align-items: center; 
        height: 100%;
        // top: 20; 
        // bottom: 0; 
        width: 100%; 
        // height: 430px; 
        background-color: rgb(32, 30, 30); 
        opacity: 0.70;
      }

    @media(max-width: 800px) {
        // padding-top: 15rem;
        margin-top: -18rem;
    }

    &__heading {
        // font-style: italic; 
        margin-top: 35px;
        margin-left: 10px;
        margin-right: 10px;
    }

    &__box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        margin-left: 15px;

        @media(max-width: 400px) {
            flex-direction: column;
        }
    }

    &__item {
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        padding: 1rem;
        backface-visibility: hidden;
    }

    &__text {
        color: var(--primary-text-color-light-2);
        text-transform: uppercase;
        letter-spacing: .2rem;
        font-weight: 100;
        backface-visibility: hidden;

        transition: all .3s ease-out; 
    }

    &__item:hover &__text {
        margin-left: 1.5rem;
    }
}

.section-organisers {
    background-color: #fff;
    padding: 5rem 0 10rem 0;
    // @include triangularSliceBottom;
    z-index: 1;
    position: relative;

    @media(max-width: 600px) {
        padding-bottom: 5rem;
    }



    figure {
        margin: 0;
        padding: 0;
    }
    
    @media (max-width: 756px) {
        .gallery {
            display: block;
        }
    }
    
    @media (min-width: 757px) {
        .gallery {
            display: grid;
        }
    }
    
    .container {
        width: 100%;
        height: 100%;
    }

 
    &__heading {
        font-size: 4rem;
        font-weight: 700;
        // font-style: italic;
        text-align: center;
        margin-bottom: 6rem;
    }

    &__box {
        display: flex;
        margin: 10px;
        
        @-webkit-keyframes infoIn {
          0% {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
          }
          50% {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
          }
          100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }
        
        @keyframes infoIn {
          0% {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
          }
          50% {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
          }
          100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }
        @-webkit-keyframes infoOut {
          0% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
          100% {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
          }
        }
        @keyframes infoOut {
          0% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
          100% {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
          }
        }
        #hero {
          width: 100%;
          display: block;
          overflow: hidden;
          position: relative;
        }
        #hero:before {
          display: block;
          content: "";
          padding-top: 50%;
        }
        .hero {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 100%;
          overflow: hidden;
          margin: 0;
          padding: 0;
          font-family: "Open Sans", sans-serif;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
        .hero figure {
          margin: 0;
          padding: 0;
          width: 10%;
          height: 96%;
          position: relative;
          -ms-flex-preferred-size: 10%;
          flex-basis: 10%;
          -webkit-transition: 0.8s linear;
          -o-transition: 0.8s linear;
          transition: 0.8s linear;
          -webkit-filter: saturate(25%);
          filter: saturate(25%);
        }
        .hero figure:not(.on):hover {
          cursor: pointer;
        }
        .hero figure img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
        }
        .hero figure.on {
          -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
          -webkit-transition: 0.8s linear;
          -o-transition: 0.8s linear;
          transition: 0.8s linear;
          z-index: 20;
          -webkit-filter: saturate(100%);
          filter: saturate(100%);
        }
        .hero figure div {
          -webkit-animation: infoOut;
          animation: infoOut;
        }
        
        .hero figure.on div {
          position: absolute;
          bottom: 20%;
          left: 5%;
          right: 5%;
          padding: 20px 50px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          color: #fff;
          text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
          -webkit-animation: infoIn 1.2s;
          animation: infoIn 1.2s;
        }
        .hero figure.on div h2 {
          font-size: 20px;
          width: 100%;
          padding-bottom: 20px;
          border-bottom: 1px solid rgb(144, 124, 6);
          margin-bottom: 10px;
        }
        .hero figure.on div p {
          font-size: 1.6rem;
          width: 100%;
          margin-bottom: 0;
        }
        .hero figure.on div a {
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 0.6em;
          font-weight: 600;
          transition: 0.3s ease;
        }
        .hero figure.on div a:after {
          content: "\f054";
          font-family: "FontAwesome";
          margin-left: 5px;
          display: inline-block;
          color: #00ff00;
          transition: 0.3s ease;
        }
        .hero figure.on div a:hover::after {
          transform: translateX(3px);
          transition: 0.3s ease;
        }
        .hero figure.on div a:hover {
          text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9), 0 2px 3px rgba(0, 0, 0, 0.7);
          transition: 0.3s ease;
        }
        @media screen and (max-width: 800px) {
          .hero {
            font-size: 1.3vw;
          }
          .hero figure.on div {
            padding: 20px;
          }
        }
        @media screen and (max-width: 600px) {
          .hero {
            font-size: 1.8vw;
          }
          .hero figure.on div {
            bottom: 5%;
            left: 0;
            right: 0;
            width: auto;
          }
        }
        


        

        @media(max-width: 800px) {
            flex-direction: column;
        }
    }

    &__person-info {
        color: var(--secondary-color);
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    &__person-photo {
        margin: 0 auto;
        width: 15rem;
        height: 15rem;
        display: block;
        border-radius: 50%;
        margin-bottom: 3rem;
        overflow: hidden;
        transition: all .3s;
        cursor: pointer;

        &:hover {
            transform: scale(1.04);
            filter: brightness(1.03);
        }
    }


    
}

.section-reserve {
    height: 70rem;
    padding: 5rem 0;
    position: relative;
    margin-top: -12rem;

    background-image: 
    var(--darken-backcolor),
    url(../img/city-view.jpg);
    background-size: cover;
    background-position: center;

    @media(max-width: 900px) {
        margin-top: -15rem;
        height: 100rem;
    }

    @media(max-width: 600px) {
        width: 100%;
    }

    &__box {
        @include centerElement;
        margin-top: 5rem;
        padding: 5rem;
        background-image: var(--darken-backcolor);
        border-radius: 5px;

        @media(max-width: 900px) {
            width: 70rem;
        }

        @media(max-width: 600px) {
            width: 100%;
        }
    }

    &__text-box {
        color: var(--primary-text-color-light);
        margin: 0 auto;
        margin-bottom: 5rem;
        text-align: center;
    }

    &__heading {
        font-size: 4.5rem;
        margin-bottom: 2rem;

        @media(max-width: 600px) {
            font-size: 3rem;
        }
    }

    &__text {
        font-size: 2.5rem;
    }
}